{
  "presets": ["env"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "middlewares": "./src/middlewares",
        "controllers": "./src/controllers",
        "underscore": "lodash"
      }
    }]
  ]
}